# --- Segredos e Configurações ---
.env
.streamlit/secrets.toml

# --- Dados Locais (NUNCA ENVIAR) ---
# Protege as informações dos atendimentos e o registro de ponto dos voluntários
ama_database.db
planilha_ponto_plantonistas.csv
vintage
.streamlit

# --- Lixo de Execução e Sistema ---
__pycache__/
venv/
.vscode/

# --- Arquivos do Executável ---
# Protege o script que contém as chaves 'chumbadas'
EXE_SUPERAPPAMA.py
dist/
build/
*.spec