# Ambiente e Chaves (NUNCA ENVIAR)
.env
.streamlit/secrets.toml
ama_database.db

# Pastas de Sistema
__pycache__/
venv/
vintage/

# Arquivo do Executável (Contém chaves chumbadas)
EXE_SUPERAPPAMA.py
dist/
build/
*.spec